<template>
  <div>
    <ul class="tech">
      <li class="tech-cell" v-for="item of circleKeys" :key="item.path" @click="techIndex = item.index; modalActive = true">
        <img class="tech-cell-image" :src="$t(`${item.path}.file`)"/>
      </li>
    </ul>
    <i-modal v-model="modalActive">
      <template #header>
        <i-container>
          <i-row>
            <i-column xs="4">
              <img class="large-tech-cell-image" :src="$t(`${circleKeys[techIndex].path}.file`)"/>
            </i-column>
            <i-column xs="8">
              <div class="tech-title">{{ $t(`${circleKeys[techIndex].path}.title`) }}</div>
            </i-column>
          </i-row>
        </i-container>
      </template>
      <div v-html="$parseDFM($t(`${circleKeys[techIndex].path}.text`))">
      </div>
      <template #footer>
        <p><i>{{ $t(`${circleKeys[techIndex].path}.subtitle`) }}</i></p>
        <a class="right" :href="`${circleKeys[techIndex].path}.docs`">Documentation</a>
      </template>
    </i-modal>
  </div>
</template>

<style scoped lang="scss">
  @import '@inkline/inkline/css/variables';
  @import '@inkline/inkline/css/mixins';

  $desktop-cell-size: 6em;
  $mobile-cell-size: 3em;

  @mixin shared-style($cell-size, $cell-border, $img-size) {
    .tech {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-around;
      gap: 1px;

      &-cell {
        clip-path: circle(50%);
        background-color: var(--color--light);
        width: $cell-size;
        height: $cell-size;

        &:hover {
          filter: brightness(90%);
        }

        &-image {
          width: $img-size;
          height: $img-size;
          margin: $cell-border;
          object-position: center;
          object-fit: scale-down;
        }
      }
    }

    .tech-title {
      font-size: var(--h2--font-size);
      font-weight: var(--heading--font-weight);
      line-height: var(--heading--line-height);
      margin-top: 2rem;
      margin-bottom: 1.3rem;
    }
  }

  .large-tech-cell-image {
    width: $desktop-cell-size * .9;
    height: $desktop-cell-size * .9;
    margin: $desktop-cell-size * .05;
    object-position: center;
    object-fit: scale-down;
  }

  @media only screen and (min-width: 600px) {
    $desktop-cell-border: $desktop-cell-size * .15;
    $desktop-img-size: $desktop-cell-size * .7;
    @include shared-style($desktop-cell-size, $desktop-cell-border, $desktop-img-size);
  }

  @media only screen and (max-width: 600px) {
    $mobile-cell-border: $mobile-cell-size * .15;
    $mobile-img-size: $mobile-cell-size * .7;
    @include shared-style($mobile-cell-size, $mobile-cell-border, $mobile-img-size);
  }
</style>

<script setup lang="ts">
  import { ref } from 'vue';

  const { $parseDFM } = useNuxtApp();

  let modalActive = ref(false);
  let techIndex = ref(1);

  let elementCount = 0;
  function getElements(path: string, length: number) {
    return Array.from({ length }, (_, i) => {
      return {
        path: `${path}.items[${i}]`,
        index: elementCount++
      };
    });
  }

  const circleKeys = [
    ... getElements('skills.technology.sections.integration', 7),
    ... getElements('skills.technology.sections.languages', 5),
    ... getElements('skills.technology.sections.frameworks', 9),
    ... getElements('skills.technology.sections.documentation', 6),
    ... getElements('skills.technology.sections.ide', 6),
    ... getElements('skills.technology.sections.miscellaneous', 12),
    ... getElements('skills.technology.sections.databases', 4)
  ];
</script>
