<!-- WORK IN PROGRESS! UNUSED YET -->

<template>
<ul class="honeycomb">
  <li class="honeycomb-cell" v-for="item of keys" :key="item">
    <img class="honeycomb-cell-image" :src="$t(`${item}.file`)" />
    <div class="honeycomb-cell-title">{{ $t(`${item}.title`) }}</div>
  </li>
  <li class="honeycomb-cell honeycomb-placeholder" v-for="i in 1" :key="i">
  </li>
</ul>
</template>

<style scoped lang="scss">
  @use "sass:math";

  /* !TODO! */

  /*$hexagon-width: 250px;*/
  $hexagon-width: 180px;
  $hexagon-height: $hexagon-width*.55;
  $hexagon-margin: 25px;
  $hexagon-title-color: #fff;
  $hexagon-border-color: #fff;
  $hexagon-border-color--hover: #72f88e;
  $hexagon-image-color: #3ea0eb;
  $honeycomb-max-width: 1200px;
  $viewport-thereshold: $hexagon-width + $hexagon-margin;

  *, *::before, *::after {
    font-size: .8em;
    box-sizing: border-box;
  }

  .honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: $honeycomb-max-width;
    margin: 0 auto;
    padding: 0;
    transform: translateY(math.div($hexagon-height,4));

    &-cell {
      flex: 0 1 $hexagon-width;
      max-width: $hexagon-width;
      height: $hexagon-height;
      margin: math.div($hexagon-height, 2.1) math.div($hexagon-margin,2) $hexagon-margin;
      position: relative;
      padding: 0.5em;

      text-align: center;
      z-index: 1;

      &-title {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        hyphens: auto;
        word-break: break-word;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 1.75em;
        transition: opacity 350ms;
      }

      &-image {
        object-fit: scale-down;
        object-position: center;
      }

      &::before, &::after, &-image {
        top: -50%;
        left: 0;
        width: 100%;
        height: 200%;
        display: block;
        position: absolute;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        z-index: -1;
      }

      &::before {
        content: '';
        background: $hexagon-border-color;
        transform: scale(1.055);
      }

      &::after {
        content: '';
        background: $hexagon-image-color;
        opacity: 0.5;
        transition: opacity 350ms;
      }

      &:hover {
        .honeycomb-cell-title {
          opacity: 0;
        }

        &::before {
          background: $hexagon-border-color--hover;
        }

        &::after {
          opacity: 0;
        }
      }
    }
    &-placeholder {
      display: none;
      opacity: 0;
      width: $hexagon-width;
      margin: 0 math.div($hexagon-margin, 2)
    }
  }

  /* Media Queries */
  @media (max-width: #{2*$viewport-thereshold}) {
    /* Single Elements: [[1], [2], [3], [4]] */
    .honeycomb-cell {
      margin: #{math.div($hexagon-margin,2) + math.div($hexagon-height,2)} $hexagon-margin;
    }
  }

  @media (min-width: #{2*$viewport-thereshold}) and (max-width: #{3*$viewport-thereshold}) {
    /* Pairs Elements: [[1, 2], [3], [4, 5], [6]] */
    .honeycomb-cell:nth-child(3n) {
      margin-right: calc(50% - math.div($hexagon-width,2));
      margin-left: calc(50% - math.div($hexagon-width,2));
    }

    .honeycomb-placeholder:nth-child(3n + 5) {
      display:block;
    }
  }

  @media (min-width: #{3*$viewport-thereshold}) and (max-width: #{4*$viewport-thereshold}) {
    /* Triplet Elements: [[1, 2, 3], [4, 5], [6, 7, 8], [9, 10]] */
    .honeycomb-cell:nth-child(5n + 4) {
      margin-left: calc(50% - #{$hexagon-width + $hexagon-margin});
    }

    .honeycomb-cell:nth-child(5n + 5) {
      margin-right: calc(50% - #{$hexagon-width + $hexagon-margin});
    }

    .honeycomb-placeholder:nth-child(5n + 5),
    .honeycomb-placeholder:nth-child(5n + 8) {
      display:block;
    }
  }

  @media (min-width: #{4*$viewport-thereshold}) and (max-width: #{5*$viewport-thereshold}) {
    /* Quadruplet Elements: [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10, 11], [12, 13, 14]] */
    .honeycomb-cell:nth-child(7n + 5)  {
      margin-left: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
    }

    .honeycomb-cell:nth-child(7n + 7) {
      margin-right: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
    }

    .honeycomb-placeholder:nth-child(7n + 7),
    .honeycomb-placeholder:nth-child(7n + 9),
    .honeycomb-placeholder:nth-child(7n + 11){
      display:block;
    }
  }

  @media (min-width: #{5*$viewport-thereshold}) {
    /* Quintuplet Elements: [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13, 14], [16, 17, 18, 19]] */
    /* First Irregular */
    .honeycomb-cell:nth-child(9n + 6)  {
      margin-left: calc(50% - #{$hexagon-width*2 + $hexagon-margin*2});
    }

    /* Last Irregular */
    .honeycomb-cell:nth-child(9n + 9) {
      margin-right: calc(50% - #{$hexagon-width*2 + $hexagon-margin*2});
    }

    /*  */
    .honeycomb-placeholder:nth-child(9n + 6),
    .honeycomb-placeholder:nth-child(9n + 8),
    .honeycomb-placeholder:nth-child(9n + 9){
      display:block;
    }
  }
</style>

<script setup lang="ts">
  const keys = [
    ... Array.from({ length: 7 }, (_, i) => `skills.technology.sections.integration.items[${i}]`),
    ... Array.from({ length: 5 }, (_, i) => `skills.technology.sections.languages.items[${i}]`),
    ... Array.from({ length: 9 }, (_, i) => `skills.technology.sections.frameworks.items[${i}]`),
    ... Array.from({ length: 6 }, (_, i) => `skills.technology.sections.documentation.items[${i}]`),
    ... Array.from({ length: 6 }, (_, i) => `skills.technology.sections.ide.items[${i}]`),
    ... Array.from({ length: 12 }, (_, i) => `skills.technology.sections.miscellaneous.items[${i}]`),
    ... Array.from({ length: 4 }, (_, i) => `skills.technology.sections.databases.items[${i}]`)
  ];
</script>
