<template>
  <div class="search-view">
    <i-select
      class="tech-selector"
      v-model="selected"
      :options="options"
      @search="searchTech"
      :placeholder="$t('skills.technology.header')"
      autocomplete
      clearable>
      <template #prefix>
        <i-dropdown>
          <i-button outline class="filter-button">
            <img class="filter-icon" :src="iconSelected.label" :alt="iconSelected.desc" />
          </i-button>
          <template #body>
            <i-dropdown-item v-for="icon in icons" :key="icon.id" @click="setIcon(icon.id)">
              <img class="filter-icon" :src="icon.label" :alt="icon.desc" />
              {{ icon.desc }} ({{ icon.range[1] - icon.range[0] }})
            </i-dropdown-item>
          </template>
        </i-dropdown>
      </template>
    </i-select>
  </div>
  <div v-if="selected">
    <i-card>
      <template #image>
        <img class="card-image" :src="$t(selected.path + '.file')">
      </template>
      <h4 class="card-title">{{ $t(selected.path + '.title') }}</h4>
      <p class="card-subtitle">{{ $t(selected.path + '.subtitle') }}</p>
      <p v-html="$parseDFM($t(selected.path + '.text'))"></p>
      <template #footer>
        <a :href="$t(selected.path + '.docs')">{{ $t('skills.technology.view.docs') }}</a>
      </template>
    </i-card>
  </div>
</template>

<script setup lang="ts">
const { $parseDFM, $t } = useNuxtApp();

// Functions
let elementCount = 0;
function getElements(path: string, length: number) {
  return Array.from({ length }, (_, i) => {
    return {
      path: `${path}.items[${i}]`,
      index: elementCount++
    };
  });
}

function setIcon(id: number) {
  iconSelected.value = icons[id];
  selected.value = undefined;
  searchTech('');
}

function rangeFilter(_: any, idx: number) {
  if(iconSelected.value) {
    if(!iconSelected.value.range) {
      console.log(iconSelected);
    }
    return idx >= iconSelected.value.range[0] && idx < iconSelected.value.range[1];
  } else return true;
}

function searchTech(query: string) {
  if(!query) {
    options.value = defaultOptions.filter(rangeFilter);
  } else {
    options.value = defaultOptions
      .filter((opt) => opt.label.toLowerCase().includes(query.toLowerCase()))
      .filter(rangeFilter);
  }
}

let sources = [
  { path: 'integration', icon: 'server', items: 7 },
  { path: 'languages', icon: 'code', items: 5 },
  { path: 'frameworks', icon: 'package', items: 9 },
  { path: 'documentation', icon: 'doc', items: 6 },
  { path: 'ide', icon: 'monitor', items: 6 },
  { path: 'miscellaneous', icon: 'alembic', items: 12 },
  { path: 'databases', icon: 'database', items: 4 },
];

let icons = [];
let searchKeys = [];
for (let i = 0; i < sources.length; i++) {
  let old = elementCount;
  let source = sources[i];
  let path = 'skills.technology.sections.' + source.path;
  searchKeys.push(...getElements(path, source.items));
  icons.push({ label: `/img/${source.icon}.svg`, desc: $t(path + '.header'), id: i + 1, range: [old, elementCount] });
}

icons.unshift({ label: `/img/filter.svg`, desc: $t('skills.technology.view.filter'), id: 0, range: [0, elementCount] });

/* STATE */
const defaultOptions = Array.from({ length: elementCount }, (_, i) => {
  let key = searchKeys[i].path;
  return { id: i, label: $t(key + '.title'), path: key};
});

let selected = ref(undefined);
let options = ref(defaultOptions);

let iconSelected = ref(icons[0]);
</script>

<style lang="scss">
div.tech-selector {
  & > div.input-wrapper > div.input {
    & > span.input-prefix {
      align-self: stretch;
      padding: 0;
      & > div.dropdown-wrapper{
        height: 100%;
        & > div.dropdown-trigger {
          & > button.filter-button {
            border-color: #00000000;
            border-width: 0;
            height: 100%;
          }
        }

        & > div.dropdown, & > div.dropdown > * {
          z-index: 2001;
        }
      }
    }
  }

  & > div.select, & > div.select > * {
    z-index: 2000;
  }
}

img.filter-icon {
  width: 1em;
  height: 1em;
}

@media only screen and (min-width: 600px) {
  img.card-image {
    width: 30%;
    margin: .3em auto;
  }
}

@media only screen and (max-width: 600px) {
  img.card-image {
    width: 40%;
    margin: 1.5em auto;
  }
}

</style>
