<template>
  <div class="doom-header d5">
    <span class="doom-header-start">{{ start }}</span>
    <span class="doom-header-finish">{{ finish }}</span>
  </div>
</template>

<style lang="scss" scoped>
@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';

.doom-header {
  &-start {
    color: color('primary');
  }

  &-finish {
    color: color('black');
  }
}

@media only screen and (min-width: 600px) {
  .doom-header {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .doom-header {
    font-size: 6vw;
  }
}
</style>

<script setup lang="ts">
const props = defineProps<{
  text?: string
}>();

const start = props.text && props.text.substring(0, Math.min(props.text.length, 3));
const finish = props.text && props.text.length > 3 ? props.text.substring(3) : '';
</script>
