<template>
  <div>
    <i-layout>
      <i-layout-header>
        <!-- Header | Nav Bar  -->
      </i-layout-header>
      <i-layout-content>
        <NuxtPage />
      </i-layout-content>
      <i-layout-footer>
        <!-- Legal Stuff  -->
      </i-layout-footer>
    </i-layout>
  </div>
</template>

<style lang="scss">
@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';
@import 'public/style/devicon.min.css';

:root {
  --color--primary--h: 195deg;
  --color--primary--s: 77%;
  --color--primary--l: 39%;
}
</style>
