<template>
  <div class="middle-section">
    <CoreSectionHeader :text="$t('education.header')" />
    <i-table hover responsive>
      <tbody>
        <!-- TODO: Non-Hacky Way! -->
        <tr class="h5" v-for="n in 4" :key="n">
          <td class="doom-text">
            {{ $t(`education.schools.${4-n}.graduated`) }}
          </td>
          <td class="doom-text">
            {{ $t(`education.schools.${4-n}.grade`) }}
          </td>
          <td class="doom-text"><i>
            <a :href="$t(`education.schools.${4-n}.link`)">
              {{ $t(`education.schools.${4-n}.school`) }}
            </a>
          </i></td>
        </tr>
      </tbody>
    </i-table>

    <CoreSectionHeader :text="$t('skills.header')" />
    <div class="doom-sub-header">
      {{ $t('skills.methodology.header') }}
    </div>
    <i-collapsible>
      <i-collapsible-item
        v-for="type of methodTypes"
        :key="type.path" :title="$t(type.path + '.header')">
        <div v-for="i in type.items" :key="i">
          <div class="doom-sub-sub-header">{{ $t(`${type.path}.data[${i-1}].header`) }}</div>
          <div v-html="$parseDFM($t(`${type.path}.data[${i-1}].text`))"></div>
        </div>
      </i-collapsible-item>
    </i-collapsible>
    <div class="doom-sub-header">
      <span class="view-selector"
        :active="honeycomb == true ? true : undefined"
        @click="honeycomb = !honeycomb">
        <span>
          {{ $t('skills.technology.header') }}
          {{ $t('skills.technology.view.overview') }}
        </span>
        <img src="/img/overview.svg"
          :alt="$t('skills.technology.view.search')" />
      </span> /
      <span class="view-selector"
        :active="!honeycomb == true ? true : undefined"
        @click="honeycomb = !honeycomb">
        <span>
          {{ $t('skills.technology.header') }}
          {{ $t('skills.technology.view.search') }}
        </span>
        <img src="/img/search-glass.svg"
          :alt="$t('skills.technology.view.search')" />
      </span>
    </div>
    <TechSearch v-if="!honeycomb" />
    <TechCircleGrid v-else/>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  const { $parseDFM } = useNuxtApp();

  let methodTypes = ref([
    ['management', 5], ['engineering', 5]
  ].map((v) => {
    return {
      path: `skills.methodology.sections.${v[0]}`,
      items: v[1]
    };
  }));
  let honeycomb = ref(true);
</script>

<style lang="scss" scoped>
@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';

.view-selector {
  cursor: pointer;

  &[active] > span {
    text-decoration: underline;
    text-decoration-color: var(--color--primary);
    margin-right: .5em;
  }

  &:not([active]) {
    opacity: 0.5;
    & > span {
      margin-right: .5em;
    }
  }

  & > img {
    width: 1.25em;
  }
}

.middle-section {
  margin-left: auto;
  margin-right: auto;
}

/* Desktop */
@media only screen and (min-width: 600px) {
  .doom-text {
    font-size: 1vw;
  }

  .doom-sub-header {
    display: inline-block;
    font-size: 2.2vw;
    margin-bottom: 2vh;
    & > * {
      display: inline-block;
    }
  }

  .doom-sub-sub-header {
    font-size: 1.2vw;
  }

  .tab-title {
    font-size: 1.6em;
  }

  .middle-section {
    width: 60%;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .doom-text {
    font-size: 1.8vw;
  }

  .doom-sub-header, doom-sub-header > * {
    font-size: 3vw;
    margin-bottom: 2vh;
  }

  .doom-sub-sub-header {
    font-size: 2vw;
  }

  .tab-title {
    font-size: 0.6em;
  }

  .middle-section {
    width: 90%;
    & > .collapsible > .collapsible-item > .collapsible-header {
      background-color: #008800;
      font-size: 2.8vw;
    }
  }
}
</style>
